// Specific CSS for your home-page
body {
  color: $dark-blue;
}
h1, h2 {
  font-family: $title-font;
}
h3 {
  color: $electric-blue;
}
.title {
  background-color: $diamond;
  // color: $white;
}
.portfolio {

}
