<div class="title">
  <h1>Chiara Davies</h1>
  <h2>Web Designer &amp; Developer</h2>
</div>

<div class="container">

  <div class="about">
    <h3>About me</h3>
    <p>hello</p>
  </div>

  <div class="portfolio">
    <h3>Portfolio</h3>
    <div class="common-ground">
      Common Ground
    </div>
    <div class="meteor">
      Meteor
    </div>
    <div class="safari-now">
      Safari Now
    </div>
  </div>

  <div class="contact">
    <h3>Contact Me</h3>
    <p></p>
    <p>Email:</p>
  </div>

  <div class="social">
    <a href="#">???</a>
  </div>

</div>

