<!-- need to make mobile responsive  -->
<div class="title text-center">
<!-- CHANGE THIS FONT -->
  <h1>Chiara Davies</h1>
  <h2>Web Designer &amp; Developer</h2>
</div>

<div class="container">

<!-- About section -->
  <div class="about">
    <h3>About me</h3>
    <p>hello</p>
    <!-- need to do -->
  </div>

<!-- Portfolio section -->
  <div class="portfolio">
    <h3>Portfolio</h3>
    <div class="common-ground box">
      <!-- screenshot slider -->
      Common Ground
      <!-- description -->
      <!-- icons of code types used -->
    </div>
    <div class="meteor box">
      <!-- screenshot slider -->
      Meteor
      <!-- description -->
      <!-- icons of code types used -->
    </div>
    <div class="safari-now box">
      <!-- screenshot slider -->
      Safari Now
      <!-- description -->
      <!-- icons of code types used -->
    </div>
  </div>

<!-- Contact section -->
  <div class="contact">
    <h3>Contact Me</h3>
    <p></p>
    <p>Email:</p>
  </div>

<!-- Links to social media pages -->
  <div class="social">
    <a href="#"><i class="fa fa-github-square"></i></a>
    <a href="#"><i class="fa fa-linkedin-square"></i></a>
  </div>

</div>

